//-<!-- build:js dist/public/scripts/vendor.min.js -->
// bower:js
// endbower
//-<!-- endbuild -->

//-<!-- build:js dist/public/scripts/scripts.min.js -->
script(src='public/app.js')
script(src='public/init.js')
//-<!-- endbuild -->
